# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars.template
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Kubernetes / Resource Manager
kubeconfig
*.zip
